{% extends 'layout.html' %}
{% block head %} <title>Bayas|Poke Asistente</title> {% endblock head %}
{% block content %}
<main class=" berry">
    <h3 class="berry__title">Bayas</h3>
    <p class="berry__description">
    Aqui encontraras toda la información necesaria para entrar en el mundo del <spam class="high-light">pokecultivo<spam>
    </p>
    {% for tiempo in tiempos %}
        <h3 class="berry__time">Bayas de {{tiempo}} horas</h3>
        <table class="berry__table">
            <tr class="berry__table--header">
                <th scope="col" class="berry__table--header-title">Nombre</td>
                <th scope="col" class="berry__table--header-image">Icono</td>
                <th scope="col" class="berry__table--header-description">Descripción</td>
                <th scope="col" class="berry__table--header-seed">Semillas</td>
            </tr>
            {% for baya in bayas %}
                {% if baya.time == tiempo %}
                    <tr class="berry__table--item">
                        <td class="berry__table--item-title">{{baya.name}}</td>
                        <td><img class="berry__table--item-image" src="{{baya.imagen.url}}"></td>
                        <td class="berry__table--item-description">{{baya.description}}</td>
                        <td class="berry__table--item-seed">
                            <ul>
                                <li>{{baya.seed1}},</li>
                                {% if baya.seed3 != "NN" %}
                                <li>{{baya.seed2}},</li>
                                    <li>{{baya.seed3}}</li>
                                {% else %}
                                <li>{{baya.seed2}}</li>
                                {% endif %}
                            </ul>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    {% endfor %}
</main>
{% endblock content %}