{% extends 'layout.html' %}
{% block head %} <title>Bayas|Poke Asistente</title> {% endblock head %}
{% block content %}
<section>
    <article class=" berry">
        <h3 class="berry__title">Bayas</h3>
        <p class="berry__description">
            Aqui encontraras toda la información necesaria para entrar en el mundo del <spam class="high-light">pokecultivo<spam>
        </p>
        {% for tiempo in tiempos %}
        <h3 class="berry-time__title">Bayas de {{tiempo}} horas</h3>
        <div class="berry-container">
            {% for baya in bayas %}
                {% if baya.time == tiempo %}
                <div class="berry-item">
                    <h4 class="berry-item__tittle">{{baya.name}}</h4>
                    <p class="berry-item__description">{{baya.description}}</p>
                    <p class="berry-item__time">tiempo de cultivo: <spam class="high-light">{{baya.time}}</spam></p>
                    <p class="berry-item__seed">
                        semillas:
                        {{baya.seed1}},
                        {{baya.seed2}},
                        {{baya.seed3}}
                    </p>
                </div>
                {% endif %}
            {% endfor %}
        </div>
{% endfor %}
    </article>
</section>
{% endblock content %}