<div id="cookie-banner" style="display: block; padding: 10px; background-color: rgba(0,0,0,0.8); color: #fff; text-align: center; position: fixed; bottom: 0; width: 100%;">
    Este sitio web utiliza cookies para mejorar su experiencia. 
    <button id="accept-cookies-btn" style="background-color: #73ace2; color: white; padding: 10px 20px; border: none; cursor: pointer;">Aceptar</button>
</div>

<script>
// Comprobar si el usuario ha aceptado las cookies previamente
if (localStorage.getItem("cookiesAccepted") === "true") {
    document.getElementById("cookie-banner").style.display = "none";
}

document.getElementById("accept-cookies-btn").addEventListener("click", function() {
    // Guardar que el usuario ha aceptado las cookies
    localStorage.setItem("cookiesAccepted", "true");

    // Ocultar el banner de cookies
    document.getElementById("cookie-banner").style.display = "none";
});
</script>