{% extends 'layout.html' %}
{% load static %}
{% block head %}
<title>Crianza|Poke Asistente</title>
<meta name="description" content="Poke Asistente | Aqui puedes encontrar toda la información que necesitas para criar tus propios Pokemon." />
{% endblock head %}

{% block content %}
<main class="breed">
    <section class="breed__container">
        <h3 class="breed__container--title">Crianza</h3>
        <p class="breed__container--description">
            Selecciona todas las caracteristicas que necesitas.
        </p>
        <form method="POST" action="/" class="breed__form">
            <label for="breed__form--ivs" class="breed__form--label">Cuantos ivs quieres x31?</label>
            <input type="text" class="breed__form--input" id="ivs" placeholder="ej: 6">
            
            <label for="breed__form--input" class="breed__form--label">Cual es el precio promedio de los pokemons?</label>
            <input type="text" class="breed__form--input" id=precio placeholder="ej: 5000">

            <label for="breed__form--input" class="breed__form--label">Es un Pokemon inicial o fosil?</label>
            <select name="breed__form--select" id="rarity">
                <option value="0">No</option>
                <option value="1">Si</option>
            </select>

            <button type="button" class="breed__form--button">Calcular!</button>
        </form>
        <table class="breed__table">
            <tr class="breed__table--header">
                <th class="breed_table--header-item">Nombre</th>
                <th class="breed_table--header-item">Cantidad</th>
                <th class="breed_table--header-item">Costo</th>
            </tr>

            <tr class="breed__table--item">
                <th class="breed__table--item_name">Padres</th>
                <th class="breed__table--item_units cPokes">0</th>
                <th class="breed__table--item_cost pPokes">0</th>
            </tr>
            <tr class="breed__table--item">
                <th class="breed__table--item_name">Brazaletes</th>
                <th class="breed__table--item_units cBra">0</th>
                <th class="breed__table--item_cost pBra">0</th>
            </tr>
            <tr class="breed__table--item">
                <th class="breed__table--item_name">Pokebolas</th>
                <th class="breed__table--item_units cBall">0</th>
                <th class="breed__table--item_cost pBall">0</th>
            </tr>
            <tr class="breed__table--item">
                <th class="breed__table--item_name">Gasto total</th>
                <th class="breed__table--item_cost pTotal">0</th>
            </tr>

        </table>
    <section>
</main>
{% endblock content %}

{% block script %}
<script src="{% static 'js/mi-script.js' %}"></script>
{% endblock script %}