{% extends 'layout.html' %}
{% load static %}
{% block head %}
<title>Crianza|Poke Asistente</title>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock head %}

{% block content %}
<main>
    <section>
        <article class="option form-container">
            <h3 class="option__title form-title">Crianza</h3>
            <p class="option__description form-description">
                Selecciona todas las caracteristicas que necesitas.
            </p>
            <form method="GET" action="/" class="form">
                <label for="ivs" class="form__label">Cuantos ivs quieres x31?</label>
                <input type="text" class="ivs">
                
                <label for="precio" class="form__label">Cual es el precio promedio de los pokemons?</label>
                <input type="text" class="precio">

                <button type="button" class="option__button form__button">Calcular!</button>
                <p id="resultado"></p>
            </form>
        </article>
    </section>
</main>
{% endblock content %}

{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="{% static 'js/mi-script.js' %}"></script>
{% endblock script %}