{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "{% static 'css/styles.css' %}" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="{% static 'img/icono.ico' %}" />
    {% block head %}
    {% endblock head %}

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-49QFYSGDJD"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-49QFYSGDJD');
    </script>
</head>
<body>
    <header>
        <nav class="desk-menu">
            <ul class="desk-menu__ul">
                <li class="desk-menu__ul--li">
                    <a class="desk-menu__ul--li__link" href="{% url 'index' %}">Inicio</a>
                </li>
                <li class="desk-menu__ul--li">
                    <a class="desk-menu__ul--li__link" href="{% url 'crianza' %}">Crianza</a>
                </li>
                <li class="desk-menu__ul--li">
                    <a class="desk-menu__ul--li__link" href="{% url 'bayas' %}">Bayas</a>
                </li>
            </ul>
        </nav>
    </header>

    {% block content %}
    
    {% endblock content %}
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1797727024125132"
    crossorigin="anonymous"></script>
    <footer class="footer">
        <section class="footer_container">

            <div class="footer_left">
                <h3 class="footer_left__title">Quieres apoyarme?</h3>
                <p class="footer_left__description"> mi nick en el juego es: <spam class="high-light">GuillerCH</spam></p>
            </div>

            <div class="footer_right">
                <h3 class="footer_right__title">Sigueme!</h3>
                <p class="footer_right__description">
                    <a href="https://www.facebook.com/gucorhe" target="_blank">
                    <img src="{% static 'img/facebook.svg' %}" alt="Facebook" id="facebook" class="footer_right--icons">
                    </a>
                    <a href="https://www.linkedin.com/in/guillerch/" target="_blank">
                    <img src="{% static 'img/linkedin.svg' %}" alt="Linkedin" id="linkedin" class="footer_right--icons">
                    </a>
                    <a href="https://discord.gg/3kGrq8CTAZ" target="_blank">
                        <img src="{% static 'img/discord.svg' %}" alt="Discord" id="Discord" class="footer_right--icons">
                        </a>
                </p>
            </div>

    </section>
    </footer>
    
    {% block script %}

    {% endblock script %}
</body>
</html>