:root{
    --white: whitesmoke;
    --light-white:white;
    --light-blue: #73ace2;
    --dark-blue: #568c8f;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}
* {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}
body{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background: url(../img/bg_02.png) repeat-x left -180px var(--light-blue);
    text-align: center;
    height: 88%;
    margin: 0;
    margin-bottom: 10%;
}
nav{
    display: flex;
    justify-content: center;
    align-content: center;
    border: 1px solid var(--white);
    border-radius: 8px;
    height: 4vh;
    background: var(--dark-blue);
    width: auto;
}
a{
    text-decoration: none;
}
/* configuración del menu */
.menu{
    display: flex;
    justify-content: center;
    flex-direction: row;
    list-style: none;
    align-self: center;
    padding: 0px;
    margin: 0px;
}
.menu__li{
    line-height: 0px;
    margin-right: 24px;
}
.menu__li > a{
    text-decoration: none;
    color: white;
}
/* estilos generales de layout */
main{
    display: grid;
    grid-template-rows: auto 1fr auto;
    align-self: center;
    width: 100%;
}
.main__title{
    padding-top: 4%;
    color: var(--dark-blue);
    text-align: center;
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
}
.option{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    border: 1px solid var(--light-white);
    border-radius: 8px;
    background-color: rgba(238, 230, 230, 0.5);
    width: 50%;
    height: auto;
    margin-left: 20px;
    margin-top: 12px;

}
.option__title{
    font-size: var(--lg);
    margin-bottom: 12px;
    color: var(--dark-blue);
}
.option__description{
    font-size: var(--md);
    padding-top: 12px;
    color: var(--light-blue);
}
.option__button{
    font-size: var(--md);
    height: 4vh;
    width: 50%;
    border: 4px solid var(--dark-blue);
    border-radius: 8px;
    background-color: var(--white);
    justify-self: center;
    margin-bottom: 5%;
    cursor: pointer;
    color: var(--dark-blue);
}
/* Crianza */
.breed{
    align-self: center;
}
.form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 4%;
}
.form > label {
    padding-bottom: 4px;
    padding-top: 12px;
    color: var(--light-blue);
}
.form > input{
    width: 30%;
    border-radius: 4px;
    border-color: 1px solid var(--light-white);
}
.form__button{
    margin-top: 4%;
}
#resultado {
    color: var(--dark-blue);
    font-size: var(--md);
}
/* Bayas */
.berry{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    border: 1px solid var(--light-white);
    border-radius: 8px;
    background-color: rgba(238, 230, 230, 0.5);
    width: 80%;
    height: auto;
    margin-left: 20px;
    margin-top: 12px;
    margin-bottom: 12%;
    color: var(--dark-blue);
    font-size: 100%;
}
.berry-container{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-bottom: 8px;
}
.berry-item{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    align-content: center;
    border: 1px solid var(--light-white);
    border-radius: 4px;
    height: auto;
    font-size: 80%;
    margin-right: 0.5%;
    margin-bottom: 4px;
    margin-left: 0.5%;
}
.berry-item__tittle{
    width: 16%;
}
.berry-item__image{
    width: 28px;
}
.berry-item__description{
    width: 40%;
}
.berry-item__seed{
    width: 24%;
}
.divisor{
    border-right: 1px solid var(--white);
}
/* footer */
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    color: var(--white);
    background-color: rgba(216, 226, 235, 0.373);
}
.footer_container{
    display: flex;
    padding-top: 0;
    margin-left: 12%;
    margin-right: 12%;
    padding-bottom: 0;
}
.high-light{
    font-weight: bold;
}
.footer_right{
    margin-left: auto;
}
.footer_right__description{
    text-decoration: none;
}
#facebook {
    max-height: 32px;
    width: auto;
}
#linkedin{
    max-height: 32px;
    width: auto;
}
/* estilos de movil */
@media (max-width: 1280px) {
    .option {
        max-width: 80%;
        font-size: 80%;
    }
    .option__title{
        font-size: 100%
    }
    .option__description{
        font-size: 92%;
    }
    .form__label{
        font-size: 88%;
    }
    .option__button{
        width: auto;
        font-size: 72%;
    }
    footer{
        font-size: 84%;
    }
    #facebook{
        max-height: 20px;
    }
    #linkedin{
        max-height: 20px;
    }
}