@use 'mixinsfunc';
@use 'vars';

.breed{
    @include mixinsfunc.flexbox(center);
    flex-direction: column;

    &__container{
        @include mixinsfunc.flexbox(center);
        justify-content: flex-start;
        @include mixinsfunc.container;
        flex-direction: column;
        width: 96vw;
        padding-bottom: mixinsfunc.pixels-rem(20);

        &--title{
            @include mixinsfunc.title;
            font-size: mixinsfunc.pixels-rem(20);
            padding: mixinsfunc.pixels-rem(10);
        }
        &--description{
            @include mixinsfunc.description;
            font-size: mixinsfunc.pixels-rem(18);
        }
        @media (max-width:280px) {
            width: 100vw;
        }
        @media (min-width:764px) {
            width: 60vw;

            &--title{
                font-size: mixinsfunc.pixels-rem(32);
            }
            &--description{
                font-size: mixinsfunc.pixels-rem(28);
            }
        }
        @media (min-width:1023px) {
            width: 30vw;
            margin-top: mixinsfunc.pixels-rem(-30);
            margin-bottom: mixinsfunc.pixels-rem(120);

            &--title{
                font-size: mixinsfunc.pixels-rem(24);
            }
            &--description{
                font-size: mixinsfunc.pixels-rem(18);
            }
        }
        @media (min-width:1279px){
            margin-top: mixinsfunc.pixels-rem(20);
        }
    }

    &__form{
        @include mixinsfunc.flexbox(center);
        flex-direction: column;
        
        &--label{
            color: vars.$dark-blue;
            font-weight: bold;
            font-size: mixinsfunc.pixels-rem(14);
            padding-bottom: mixinsfunc.pixels-rem(8);
        }
        &--input{
            border: 2px solid vars.$dark-blue;
            border-radius: 4px;
            margin-bottom: mixinsfunc.pixels-rem(8);
            width: 16vw;
            font-size: mixinsfunc.pixels-rem(12);

        }
        &--select{
            color: vars.$dark-blue;
            border: 1px solid vars.$dark-blue;
            border-radius: 4px;
        }
        &--button{
            position: relative;
            cursor: pointer;
            border: 4px solid vars.$dark-blue;
            border-radius: 8px;
            background-color: vars.$white;
            color: vars.$dark-blue;
            font-size: mixinsfunc.pixels-rem(14);
            margin-top: mixinsfunc.pixels-rem(24);
        }
        @media (max-width:280px) {
            &--label{
                font-size: mixinsfunc.pixels-rem(12);
            }
            &--input{
                font-size: mixinsfunc.pixels-rem(10);
                width: 20vw;
            }
            &--button{
                font-size: mixinsfunc.pixels-rem(10);
            }
            &--result{
                font-size: mixinsfunc.pixels-rem(14);
            }
        }
        @media (min-width:764px) {
            &--label{
                font-size: mixinsfunc.pixels-rem(24);
            }
            &--input{
                font-size: mixinsfunc.pixels-rem(18);
            }
            &--button{
                font-size: mixinsfunc.pixels-rem(20);
            }
            &--result{
                font-size: mixinsfunc.pixels-rem(24);
            }
        }
        @media (min-width:911px) {
            &--label{
                font-size: mixinsfunc.pixels-rem(32);
            }
            &--input{
                font-size: mixinsfunc.pixels-rem(24);
            }
            &--button{
                font-size: mixinsfunc.pixels-rem(28);
            }
            &--result{
                font-size: mixinsfunc.pixels-rem(32);
            }
        }
        @media (min-width:1023px) {
            &--label{
                font-size: mixinsfunc.pixels-rem(18);
            }
            &--input{
                font-size: mixinsfunc.pixels-rem(18);
            }
            &--button{
                font-size: mixinsfunc.pixels-rem(18);
            }
            &--result{
                font-size: mixinsfunc.pixels-rem(20);
            }
        }
    }
    &__table{
        margin-top: mixinsfunc.pixels-rem(10);
        color: vars.$dark-blue;
        border: 1px solid vars.$white;
        &--header{
            font-size: mixinsfunc.pixels-rem(16);
            &-item{
                padding: mixinsfunc.pixels-rem(4);
                font-weight: bold;
                border-right: 1px solid vars.$white;
                border-bottom: 1px solid vars.$white;
            }
        }
        &--item{
            font-size: mixinsfunc.pixels-rem(14);
            &_name{
                font-weight: bold;
                border-right: 1px solid vars.$white;
                border-bottom: 1px solid vars.$white;
                padding: 2px;
            }
            &_units{
                border-right: 1px solid vars.$white;
                border-bottom: 1px solid vars.$white;
            }
            &_cost{
                border-bottom: 1px solid vars.$white;
            }
        }
    }
}