@use 'vars';
@use 'mixinsfunc';

.footer{
    position: fixed;
    width: 100vw;
    bottom: 0;
    left: 0;
    color: vars.$white;
    height: 14vh;
    background-color: rgba(216, 226, 235, 0.373);

    &_container{
        @include mixinsfunc.flexbox(center);
        align-items: flex-start;
        padding: mixinsfunc.pixels-rem(8);
        margin-left: mixinsfunc.pixels-rem(28);
        margin-right: mixinsfunc.pixels-rem(28);
    }
}

.footer_left{
    height: 14vh;
    width: 33.33vw;
    align-self: center;

    &__title{
        font-size: mixinsfunc.pixels-rem(18);
        font-weight: bold;
    }
    &__description{
        margin-top: mixinsfunc.pixels-rem(20);
        font-size: mixinsfunc.pixels-rem(12);
    }
    @media (min-width:764px) {
        &__title{
            font-size: mixinsfunc.pixels-rem(24);
        }
        &__description{
            font-size: mixinsfunc.pixels-rem(20);
        }
    }
    @media (max-width:280px) {
        &__title{
            font-size: mixinsfunc.pixels-rem(14);
        }
        &__description{
            font-size: mixinsfunc.pixels-rem(10);
        }
    }
}

.footer_mid{
    @include mixinsfunc.flexbox(flex-start);
    flex-direction: column;
    height: 14vh;
    width: 33.33vw;
    margin-left: auto;
    align-self: center;
    &--link{
        color: vars.$white;
        margin-bottom: mixinsfunc.pixels-rem(12);
        font-size: mixinsfunc.pixels-rem(16);
        @media (min-width:764px) {
            font-size: mixinsfunc.pixels-rem(18);

            &:hover{
                font-size: mixinsfunc.pixels-rem(20);
                transition: 300ms;
            }
        }
        @media (max-width:280px) {
            font-size: mixinsfunc.pixels-rem(10);
        }
    }
}

.footer_right{
    margin-left: auto;
    height: 14vh;
    width: 33.33vw;
    align-self: center;

    &__title{
        font-size: mixinsfunc.pixels-rem(20);
        font-weight: bold;
    }
    &__description{
        @include mixinsfunc.flexbox(space-between);
        flex-wrap: wrap;
    }

    &--icons{
        margin-top: mixinsfunc.pixels-rem(20);
        width: mixinsfunc.pixels-rem(20);
    }
    @media (min-width:539px) {
        &__description{
            justify-content: center;
        }
        &--icons{
            margin: mixinsfunc.pixels-rem(4);
        }
    }
    @media (min-width:764px) {
        &__title{
            font-size: mixinsfunc.pixels-rem(24);
        }

        &--icons{
            width: mixinsfunc.pixels-rem(48);
        }
    }
    @media (max-width:280px) {
        &__title{
            font-size: mixinsfunc.pixels-rem(16);
        }

        &--icons{
            width: mixinsfunc.pixels-rem(18);
        }
    }
    @media (min-width:1023px) {
        &__title{
            font-size: mixinsfunc.pixels-rem(24);
        }

        &--icons{
            width: mixinsfunc.pixels-rem(28);
        }
    }
}
