@use 'mixinsfunc';
@use 'vars';

.guide{
    @include mixinsfunc.flexbox(center);
    flex-direction: column;
    margin-top: mixinsfunc.pixels-rem(88);
    background-color: vars.$transparent;
    margin-bottom: mixinsfunc.pixels-rem(136);
    padding-top: mixinsfunc.pixels-rem(12);
    padding-bottom: mixinsfunc.pixels-rem(12);
    width: 98vw;
    border: 1px solid vars.$white;
    border-radius: 4px;
    @media (min-width:539px){
        width: 80vw;
    }
    @media (min-width:764px){
        width: 52vw;
        margin-bottom: mixinsfunc.pixels-rem(180);
    }
    @media (min-width:911px){
        margin-bottom: mixinsfunc.pixels-rem(220);
    }
    
    &__title{
        @include mixinsfunc.title;
        font-size: mixinsfunc.pixels-rem(20);
    }
    &__description{
        @include mixinsfunc.description;
        font-size: mixinsfunc.pixels-rem(18);
    }
    &__container{
        @include mixinsfunc.flexbox(center);
        flex-direction: column;
        width: 98vw;

        @media (min-width:911px){
            flex-direction: row;
            align-items: flex-start;
            flex-wrap: wrap;
            width: 52vw;
        }
    }
    &__item{
        background-color: vars.$transparent;
        padding: mixinsfunc.pixels-rem(8);
        margin: mixinsfunc.pixels-rem(4);
        border: 1px solid vars.$white;
        border-radius: 4px;
        width: 72vw;
        &--img{
            width: 48vw;
        }
        &--title{
            @include mixinsfunc.title;
            padding-top: mixinsfunc.pixels-rem(4);
            font-size: mixinsfunc.pixels-rem(16);
        }
        &--description{
            @include mixinsfunc.description;
            font-size: mixinsfunc.pixels-rem(18);
        }
        &--button{
            position: relative;
            cursor: pointer;
            border: 4px solid vars.$dark-blue;
            border-radius: 8px;
            background-color: vars.$white;
            font-size: mixinsfunc.pixels-rem(14);
            margin-top: mixinsfunc.pixels-rem(28);
            &-a{
                color: vars.$dark-blue;
            }
        }
        @media (min-width:763px) {
            width: 48vw;
            &--img{
                width: 24vw;
            }
        }
        @media (min-width:911px){
            width: 24vw;
            &--img{
                width: 20vw;
            }
            &--button{
                font-size: mixinsfunc.pixels-rem(18);
            }
        }
    }
}