@use 'sass:math';
@use 'vars';

@function pixels-rem($pixels){
    $rem: math.div($pixels, 16) * 1rem;

    @return $rem
}

@mixin flexbox($justify){
    display: flex;
    align-items: center;
    justify-content: $justify;
}
@mixin title{
    color: vars.$dark-blue;
    font-size: #{pixels-rem(24)};
    font-weight: bold;
    padding-bottom: #{pixels-rem(8)};
}
@mixin description{
    color: vars.$dark-blue;
    font-size: #{pixels-rem(20)};
    padding-bottom: #{pixels-rem(8)};
}
@mixin container{
    background-color: vars.$transparent;
    border: 1px solid vars.$white;
    border-radius: 4px;
}