@use 'mixinsfunc';
@use 'vars';

.desk-menu{
    @include mixinsfunc.flexbox(center);
    background: vars.$dark-blue;
    position: fixed;
    left: 0;
    right: 0;
    height: 6vh;
    width: 100vw;
    z-index: 1;

    &__ul{
        @include mixinsfunc.flexbox(space-between);
        width: 60vw;
        flex-direction: row;
        align-self: center;

        &--li{
            
            &__link{
                color: white;
                font-size: mixinsfunc.pixels-rem(16);

                &:hover{
                    transition: 400ms;
                    font-size: mixinsfunc.pixels-rem(28);
                }
                @media (min-width:764px) {
                    font-size: mixinsfunc.pixels-rem(24);
                }
            }
        }
        @media (max-width:280px) {
            width: 80vw;
        }
        @media (min-width:763px) {
            width: 40vw;
        }
        @media (min-width:1023px) {
            width: 32vw;
        }
    }
}