@use 'mixinsfunc';
@use 'vars';

.desk-menu{
    @include mixinsfunc.flexbox(center);
    background: vars.$dark-blue;
    position: fixed;
    left: 0;
    right: 0;
    height: 6vh;

    &__ul{
        @include mixinsfunc.flexbox(center);
        flex-direction: row;
        align-self: center;

        &--li{
            padding: 1rem;
            margin-right: 1rem;
            
            &__link{
                color: white;
                font-size: mixinsfunc.pixels-rem(16);

                &:hover{
                    transition: 400ms;
                    font-size: mixinsfunc.pixels-rem(28);
                }
                @media (min-width:764px) {
                    font-size: mixinsfunc.pixels-rem(24);
                }
            }
        }
    }
}